body{
    background-image: url('Images.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(218, 230, 235);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(225, 144, 144);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(203, 209, 225);
}

input[type="text"],input[type="number"],input[type="phone"],input[type="date"] ,input[type="Name"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(161, 165, 163);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #226eac;
}

input[type="reset"]:hover{
    background: #2d80c5;
}

button{
    background: rgb(237, 216, 216);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#216ba8 ;
}
